<app-navbar></app-navbar>

<div style="margin-top: 3%;" class=" container jumbotron  w-50">
    <h3 class="text-center">Change Password</h3>
    <div>
        <form [formGroup]="setpassword" (ngSubmit)="changePassword()">
            <table class="table table-bordered bg-light  ">
                <tr>
                    <td>
                        <div>
                            <label><b> Enter Phone No </b></label>
                            <input class="form-control " type="number" placeholder="Enter Your Phone No " formControlName="phoneNo" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <tr>
                        <td>
                            <div>
                                <label><b> Enter Email </b></label>
                                <input class="form-control " type="email" placeholder="Enter Your Email " formControlName="email" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label> <b>Enter New Password : </b></label>
                                <input class="form-control " type="text" placeholder="Enter new Password" formControlName="password" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label> <b>Confirm Password : </b></label>
                                <input class="form-control " type="text" placeholder="Reenter Password" formControlName="confirmpassword" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> <button type="submit " class="btn btn-primary btn-lg btn-block ">Change Password</button>
                            <button type="submit " [routerLink]="[ '/login'] " class="btn btn-danger btn-lg btn-block ">Cancle </button>
                        </td>
                    </tr>
            </table>
        </form>
    </div>
</div>
