<app-navbar>
</app-navbar>

<div class="container jumbotron">
    <form [formGroup]="userForm" (ngSubmit)="register()">
        <h2 style="text-align: center; margin-top:10px ">Signup Form</h2><br>
        <table class="table table-bordered bg-light  ">
            <tr>
                <td>
                    <div>
                        <label>User Name : </label>
                        <input class="form-control" type="text" placeholder="Enter Your  Name"
                            formControlName="userName" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label>User Phone Number : </label>
                        <input class="form-control" type="number" placeholder="Enter Your Phone Number"
                            formControlName="phoneNo" required>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <label>Enter Password : </label>
                        <input class="form-control" type="password" placeholder="Enter Your Password you want"
                            formControlName="password" required>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <label>Enter Email : </label>
                        <input class="form-control" type="email" placeholder="Enter Your Email" formControlName="email"
                            required>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <label>Enter Address Line 1 : </label>
                        <input class="form-control" type="text" placeholder="Enter Address Line 1 "
                            formControlName="addressLine1" required>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <label>Enter Address Line 2 : </label>
                        <input class="form-control" type="text" placeholder="Enter Address Line 2 "
                            formControlName="addressLine2">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <label>City : </label>
                        <input class="form-control" type="text" placeholder="Enter Your City " formControlName="city">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <label>Pincode : </label>
                        <input class="form-control" type="number" placeholder="Enter pincode "
                            formControlName="pincode">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="form-control" style="margin-right: 15%;" type="submit"
                        class="btn btn-lg btn-success">Register</button>
                    <button class="form-control" type="reset" class="btn btn-lg btn-danger">Clear</button>
                </td>
            </tr>
        </table>
    </form>
</div>
